  .Card
        position: relative; // Element se může stát kontejnerem pro absolutně pozicované potomky.
        min-height: 200px; // Zajišťuje, že element nebude menší než 200 pixelů na výšku.
        display: flex; // Umožňuje flexibilní uspořádání potomků v rámci elementu.
        cursor: pointer; // Mění tvar kurzoru na symbol ukazovátka, indikující interaktivitu.
        text-decoration none // Odstraňuje dekoraci textu, například podtržení.

        &:after
            position absolute
            inset 0
            content ""
            background #5D5D5D
            opacity .2
            transition opacity .3s ease

        &:hover
            &:after
                opacity 0

            .Card-heading
                background #E4A32B
                top 0
                transform translateY(0)

        &-heading
            position relative
            z-index 1
            color black
            background transparent
            width 100%
            top 50%
            transform translateY(+50%)
            margin 0
            height fit-content
            text-align center
            padding 24px 0
            transition background .3s ease, transform .3s ease, top .3s ease
            color white
            opacity .9

        &-image
            position absolute
            inset 0
            width 100%
            height 100%
            object-fit cover