*
    box-sizing border-box

.nahledovka
    width: 100% 
    margin: 0

    img
        width: 1000px;
        height: 450px;
        padding-top: 25px;
        margin auto
        object-fit: cover
        display: flex
        justify-content: center

        @media only screen and (max-width: 1050px)
            width: 100%;
            height: 450px;   

        @media only screen and (max-width: 768px)
            width: 100%;
            height: auto;             

@media only screen and (max-width: 768px)
    .kostely_PC
        display block
    .custom-block-container
        flex-direction column
        margin-bottom 0 !important
    .custom-block
        width 100% !important
        margin-bottom 80px

.kostely_PC
    display flex 
    justify-content center 
    align-items center 
    text-align center 
    width 90% 
    font-family Arial, sans-serif 
    margin auto

.custom-block-container
    display flex 
    justify-items stretch
    margin-bottom 80px

.custom-block
    display flex
    flex-direction column
    align-items center
    justify-self center
    text-align center
    font-family Arial, sans-serif
    width 500px
    cursor pointer // Vizuální indikace možnosti kliknutí

    @media only screen and (max-width: 1050px)
        width 400px

     @media only screen and (max-width: 820px)
        width 350px       

    img
        border-radius 70%
        width 200px
        height 200px
        object-fit cover
        transition transform 0.3s ease-in-out // Plynulá animace
        margin-bottom 20px

        &:hover
            transform scale(1.1) // Efekt zoomu při najetí kurzorem

.custom-text
    display flex
    flex-direction column
    align-items center
    text-align center
    font-family Arial, sans-serif

    .big-text
        font-size 20px
        font-weight bold
        margin 0
        font-family Arial, sans-serif

    .small-text
        font-size 16px
        margin 0
        font-family Arial, sans-serif

.seznam1
    font-size: 17px

.seznam2
    font-size: 24px

.obsah_aktualit
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: row;
    padding: 5% 18% 2% 18%;
    margin: 0;
    font-weight: 550;
    font-size: 18px;
    line-height: 26px;
    @media only screen and (max-width: 768px)
        padding: 5%          

.tabulka
    width 100%
    margin 0px

    @media only screen and (max-width: 1060px)
        display flex
        padding 15px

    table
        margin 25px auto
        overflow-x auto
        display block
        text-align center
        width fit-content
        max-width 100%
        border-collapse collapse
        border 1px solid #eee
        border-bottom 2px solid #E9CFA0
        box-shadow 0px 0px 20px rgba(0,0,0,0.10), 0px 10px 20px rgba(0,0,0,0.05), 0px 20px 20px rgba(0,0,0,0.05), 0px 30px 20px rgba(0,0,0,0.05)

        tr
            &:hover
                background #f4f4f4

                td
                    color #555

        th, td
            color #999
            border 1px solid #eee
            padding 12px 35px
            border-collapse collapse

        th
            background #E9CFA0
            color #555
            text-transform uppercase
            font-size 15px
            &.last
                border-right none

        td:first-of-type, th:first-of-type
            border-left none

        td:last-of-type, th:last-of-type
            border-right none

.karty_kalendar_spol 
    width: 100%; // Nastavuje šířku elementu na 100% rodičovského elementu.
    display: flex; // Nastavuje flexbox model pro layout elementu.
    justify-content: center; // Centruje potomky uvnitř flex kontejneru podél hlavní osy.
    gap: 20px; // Vytváří mezery (odstup) mezi potomky o velikosti 20px.


    @media only screen and (max-width: 768px)  // Pravidlo pro media query, které se aplikuje na zařízení s maximální šířkou 768px.   
        flex-direction: column; // V tomto mediálním dotazu se potomci uspořádají ve sloupci.
        align-items: center; // Vycentrovává potomky uvnitř flex kontejneru také podle příčné osy.
    



    &-jednotliva
        max-width 400px
        margin-bottom 3%

        @media only screen and (max-width: 768px)
            margin 0 3% 3% 3%

.aktuality_nadpis
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin: 15px;
    padding: 15px;
    padding-top: 40px
    border-bottom: 2px solid #403a3a;
    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    color: #C29135;

.obrazek
    div
        display flex
        justify-content space-around
        flex-direction column
        align-items center


        @media only screen and (max-width: 768px)               // PRI ZMENSENI POD 768PX
            gap 30px                                            // ODSAZENI PRI ZMENSENI

        @media only screen and (min-width: 768px)               // PRI ZVETSENI NAD 768PX
            flex-direction row                                  // KARTY V RADE
            align-items stretch                                 // ROZTAZENI KARET
            
            
            article                                             
                flex-direction column                           // KARTY POD SEBE                                                    
                margin: 2%;                                     // MEZERA MEZI KARTAMA A NA OKRAJÍCH
                            
                div
                    flex-direction column                       // KARTY POD SEBE 

        article
            width: 90%                                          // KARTY SE ROZAHNOU NA 90%... 10% REZERVA NA OKRAJE

        figure
            width 100%
            height auto                                         // AUTOMATICKA VYSKA, KVULI PODPORE UPRAVY VE WORDPRESSU
            margin 0
            display flex
            justify-content center
            align-items center

            img
                width 120px
                height 120px

        article
            border-radius 10px
            padding 10px
            box-shadow rgba(0, 0, 0, 0.1) 0px 4px 12px
            display flex
            flex-direction column
            text-align center

            .items
                display flex
                justify-content center
                flex-direction column
                align-items flex-start
                width 230px
                gap 0

                div
                    flex-direction column

            p
                text-align justify
                
.farar_text
    padding: 0 15px 0 15px;                                     // ODSAZENI TEXTU UVNITR
    font-size: 18px                                     
    
.farar_nadpis                                             
    display: flex;                                              // FLEX
    align-items: center;                                        // CENTROVANI NADPISU
    justify-content: center;                                    // CENTROVANI NADPISU  
    font-size: 22px
    margin: 0
    padding 0
 
    @media only screen and (min-width: 768px)
        margin: 25px 0 25px 0;                                  // ODSAZENI NADPISU
        



.farar_nadpis
    height 44px

    @media only screen and (max-width: 980px)    
        height: 66px

    @media only screen and (max-width: 768px) 
        height 44px

.center
    text-align center 
    margin-top: 30px !important 

.center1
    text-align center
    margin 0px   

.hlavni_obal_clanku
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

.pod_obal_clanku
    width: 69%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

.fotografie_clanku

    img
        width: 100%;
        height: auto;
        padding: 0% 15% 5% 15%;

        @media only screen and (max-width: 768px)    
            padding: 0%;
            padding-bottom: 5%     



.obsah_aktualit2
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: row;
    padding: 0% 18% 2% 18%;
    margin: 0;
    font-weight: 550;
    font-size: 18px;
    line-height: 26px;
    @media only screen and (max-width: 768px)
        padding: 5% 


.obsah_seznamu
    padding: 0% 18% 2% 18%;
    margin: 0;
    font-weight: 550;
    font-size: 18px;
    line-height: 26px;
    ul
        margin-top: 50px
    li
        line-height: 26px;
        margin-bottom: 30px !important /* Přidá místo mezi položkami seznamu */
        margin-left: 5px
    @media only screen and (max-width: 768px)
        padding: 5%           

.zvyraznit
    color: #c3972b
    font-weight: 900;
